@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,500;1,200&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  overflow-y: hidden;
}

body {
  width: 100vw;
  height: 100vh;
  background-color: white;
  overflow-y: hidden;
}
.App {
  position: absolute;
  width: 100%;
  height: 100%;
  /* background-color: red; */
}

.yellow {
  width: 55vw;
  height: 95vh;
  background-image: url("./Images/Login\ \(2\).jpg");
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
  right: -11vw;
  /* bottom: 0;  */
  top: 0;
  overflow-y: hidden;
  overflow-x: hidden;
}

.gray1 {
  width: 200px;
  height: 200px;
  background-image: url("./Images/Bubble\ \(2\).png");
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 5;
}
.gray2 {
  position: absolute;
  width: 386px;
  height: 181px;
  background-image: url("./Images/Bubble\ \(1\).png");
  background-repeat: no-repeat;
  background-size: cover;
  bottom: 0;
  left: 30vw;
  z-index: 11;
}
.title {
  position: absolute;
  width: 152px;
  height: 59px;
  left: 140px;
  top: 70px;
  background-image: url("./Images/DOOF.png");
  background-repeat: no-repeat;
  background-size: contain;
}

footer {
  position: absolute;
  bottom: 4vh;
  display: flex;
  margin: 10px 20px;
  left: 213px;
  cursor: pointer;
}
.terms {
  font-family: Montserrat;
  font-style: normal;
  /* font-weight: 100; */
  font-size: x-small;
  /* line-height: 22px; */
  /* identical to box height */

  /* Dark */

  color: #333333;
  margin-right: 30px;
  z-index: 12;
}

.services {
  font-family: Montserrat;
  font-style: normal;
  /* font-weight: 300; */
  font-size: x-small;
  /* line-height: 22px; */
  /* identical to box height */

  /* Dark */
  z-index: 12;
  color: rgba(51, 51, 51, 1);
  left: 357px;
  margin-left: 30px;
}

@media only screen and (max-width: 1174px) {
    .yellow{
        /* background-size: cover; */
        width: 60vw;
        z-index: 1;
    }
    .gray2{
        width: 300px;
        height: 100px;
    }
}

@media only screen and (max-width: 1081px) {
    .yellow{
        background-size: cover;
        right:0vw;
    }
     
}

@media only screen and (max-width: 866px) {
    .yellow{
        background-size: contain;
        right:0vw;
        
    }
     
}

@media only screen and (max-width: 733px) {
    .title{
        top:3vh;
        left: 5vw;
        /* width: fit-content; */
        background-size: contain;
    }

    footer{
        left:57px;
    }

    .yellow{
        height: 72vh;
        background-position: center;
        background-size: cover;
    }
}

@media only screen and (max-width: 733px) {
    .title{
        top:3vh;
        left: 5vw;
        /* width: fit-content; */
        background-size: contain;
        z-index: 100;
    }

    footer{
        left:57px;
    }

    .yellow{
        height: 72vh;
        background-position: center;
        background-size: cover;
    }

}
@media only screen and (max-width: 595px) {
    .title{
        top:3vh;
        left: 5vw;
        /* width: fit-content; */
        background-size: contain;
    }

    footer{
        left:57px;
    }

    .yellow{
        height: 72vh;
        width: 250px;
        top:-16vh;
        right: 0;
        background-size: contain;
        z-index: 1;
    }
}

@media only screen and (max-width: 437px) {
    
     footer{
          
         /* bottom: 0;  */
         left:20px;
     }

      .services,.terms{
        font-size: xx-small;
      }

      
}

@media only screen and (max-width: 437px) {
    
  footer{
       
      /* bottom: 0;  */
      left:20px;
  }

  .yellow{
       display: none;
  }

   
}
